.canvaswrap{
	overflow: hidden;
	margin-left: 15px;
	margin-top: 30px;
	display: inline-block;
	flex-grow: 1;
	border:2px solid #eee;
	position: relative;
}

canvas{
	position: absolute;
	top:0;
	cursor: crosshair;
}

#canvas.unable{
	cursor:not-allowed;
}

#canvas.remove{
	cursor: url('./app/assets/remove.png'), auto;
}

#canvas.ctrlline{
	cursor: url('./app/assets/ctrlline.png'), auto;
}

#canvas.move{
	cursor: move
}
